@charset "UTF-8";
@import "refreshstyle";
@font-face {
  font-family: 'Emulogic-zrEw';
  src: url(/fonts/Emulogic-zrEw.ttf) format('truetype');
}


//переменные через $name: attribute;


//Шаблон через %name {attributs: property} запуск через @extend %name


//миксины через @mixin name($name) {attribute: $name} запуск через @include name(property)


//Основной код

body {

}
 
.controll {
  user-select: none;
  position: relative;
  margin-left: 50px;
  width: 300px;
  height: 150px;
}

.controll button {
  width: 65px;
  height: 50px;
  background-color: linear-gradient(to right, #e0eafc, #cfdef3);
  border: none;
  border-radius: 30%;
  margin: 10px;
  padding: 0;
  font-size: 16px;
  color: #C2BB9C;
  cursor: pointer;
  font-family: 'Emulogic-zrEw';
  font-size: 8.5px;
  transform: translate(140%, 20%);
    &:active{
      border: 0.3px solid #d7dde8;
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.78);
      background: #808080;
      color: gold
    }
}

.controll .left {
  position: absolute;
  top: 20%;
  left: -15%;
}

.controll .right {
  position: absolute;
  top: 20%;
  left: 25%;
}

.controll .up {
  position: absolute;
  top: -10%;
  left: 5%;
}

.controll .down {
  position: absolute;
  top: 48%;
  left: 5%;
}
